@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&family=Press+Start+2P&family=Trispace:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', serif; }

a {
  text-decoration: none; }

ul li {
  list-style: none; }

/* nav link*/
nav ul {
  display: -webkit-inline-flex;
  justify-content: space-around;
  padding: 3px;
  margin: 4px;
  width: 100%;
  height: 100%;
  font-family: 'Cormorant Garamond', serif; }

nav ul li {
  font-family: 'Trispace', sans-serif;
  font-weight: bold;
  text-shadow: RGB(209 54 137) 1px 1px 6px; }

li {
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px; }

header {
  background-image: url(../fotos/spring.jpg);
  width: 100%;
  position: sticky;
  top: 0;
  left: 0%;
  z-index: 1; }

.header__superior {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px; }

.search input {
  width: 300px;
  padding: 10px; }

.container__menu {
  width: 100%;
  height: 50px;
  padding: 0px 20px; }

.menu {
  max-width: 1200px;
  margin: auto;
  height: 100%; }

nav {
  height: 100%; }

nav > ul {
  height: 100%;
  display: flex; }

nav > ul > li {
  height: 100%;
  list-style: none;
  position: relative; }

nav > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  color: black;
  text-shadow: #ece98e;
  align-items: center;
  padding: 14px;
  font-size: 24px;
  transition: 300ms ease; }

nav > ul > li > a:hover {
  box-shadow: 0px 0px 10px 0px rgba(102, 166, 234, 0.662); }

/*SUBMENU*/
nav ul li ul {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-image: url(../fotos/spring.jpg);
  position: absolute;
  top: 90px;
  left: -5px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: all 300ms ease;
  box-sizing: content-box; }

nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
  top: 70px; }

nav ul li ul:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
  position: absolute;
  top: -12px;
  left: 20px; }

nav ul li ul li a {
  display: block;
  color: #101010;
  padding: 6px;
  padding-left: 14px;
  margin-top: 10px;
  font-size: 22px;
  transition: all 300ms ease; }

nav ul li ul li a:hover {
  color: #020202;
  box-shadow: 0px 0px 10px 0px rgba(102, 166, 234, 0.662); }

.nav-enlace {
  display: inline-block; }

/*intentando desplegar el nav*/
nav ul li ul {
  width: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-shadow: 6px 6px 20px 0px #752b52;
  top: 90px;
  left: -5px;
  padding: 14px;
  visibility: hidden;
  transition: all 300ms ease; }

.linetop {
  color: RGB(253 239 242);
  text-shadow: 0 0 10px RGB(253 102 195), 0 0 20px RGB(253 102 195), 0 0 40px RGB(198 80 153);
  transition: 2s ease; }

.linetop:hover {
  color: #000000; }

p::first-letter {
  color: #ec32a8;
  font-size: 150%; }

a {
  color: #ec32a8;
  font-size: 34px;
  font-family: 'Cormorant Garamond', serif;
  transition: 1ms; }

a:hover {
  color: #f90286; }

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  margin: revert;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  text-shadow: RGB(209 54 137); }

h1 {
  font-size: 30px;
  padding: 5px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 16px; }

h4 {
  font-size: 14px; }

img {
  display: flex;
  object-fit: cover;
  width: 304px;
  height: auto;
  border-radius: 6px; }

.fa-solid,
.fas {
  color: #000000; }

.carousel-control-next {
  right: 0%;
  top: 10%;
  z-index: 0; }

.carousel-control-prev {
  left: 0%;
  top: 10%;
  z-index: 0; }

.carousel-indicators {
  z-index: 0; }

.line {
  color: RGB(253 239 242);
  text-shadow: 0 0 10px RGB(253 102 195), 0 0 20px RGB(253 102 195), 0 0 40px RGB(198 80 153);
  background: RGB(0, 0, 0); }

i {
  color: RGB(253 239 242); }

p {
  font-size: 30px;
  font-family: 'Trispace', sans-serif; }

.card {
  width: 18rem;
  margin: 12px; }

.btn {
  width: 91px;
  height: 34px;
  margin: 10px;
  color: #c781d3;
  background: #cde2f7;
  border-bottom-color: aqua;
  border: aqua;
  border: radius 10px;
  transition: .2s ease-in-out; }

.btn:hover {
  background-color: #ec32a8; }

.d-btn {
  display: flex;
  justify-content: center; }

.items {
  display: flex;
  flex-wrap: wrap;
  object-fit: contain;
  justify-content: space-between; }

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 39px;
  margin-left: 48px;
  width: 448px;
  overflow: hidden;
  background-color: RGB(255 248 248);
  gap: 12px;
  box-shadow: 6px 14px 20px 7px #cde2f7;
  border-radius: 10px; }

.row {
  justify-content: center; }

.card-img,
.card-img-top {
  margin-top: 12px; }

.card-text {
  align-content: center;
  font-size: 15px; }

body {
  margin: 4px;
  background-color: #fefefe; }

::selection {
  background: #ec32a8;
  color: black;
  text-shadow: 1px 1px #e8e1e8; }

footer {
  text-align: center;
  font-size: 30px;
  font-family: 'Trispace', sans-serif;
  color: #8c9f9c; }

input {
  border: 5px solid #cde2f7;
  border-radius: 4px; }

/*index imagen*/
.unica {
  max-width: 240px;
  max-height: 470px; }

.bt {
  background-color: #f4edf1;
  border: 2px solid;
  border-radius: 10px;
  margin: 4px;
  color: #100e14;
  padding: 6px;
  font-family: 'Cormorant Garamond', serif;
  box-shadow: 3px 1px 0px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }

.bt:hover {
  background-color: #d2388a; }

.tex {
  align-items: center; }

/*formulario*/
form {
  background-image: url(../fotos/spring.jpg);
  height: 408px;
  width: 100%;
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.formdiv {
  /*display: inline-table;*/
  justify-content: space-evenly;
  align-items: center;
  margin: 5px; }

fieldset {
  border-radius: 10px;
  border-color: #cde2f7;
  /* display: flex;
    flex-direction:column;   */ }

.cuadrodialogo {
  height: 209px;
  width: 100%;
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }

legend {
  background-color: #cde2f7;
  color: #c781d3;
  padding: 3px 6px; }

form textarea {
  resize: none; }

/* medias*/
@media only screen and (max-width: 967px) and (min-width: 872px) {
  .unica {
    max-width: 216px;
    max-height: 470px; } }

@media only screen and (max-width: 871px) and (min-width: 720px) {
  .unica {
    max-width: 348px;
    max-height: 470px; }
  img {
    width: 432px; } }

@media only screen and (max-width: 479px) and (min-width: 320px) {
  .items {
    justify-content: center; }
  .unica {
    max-width: 320px;
    max-height: 471px; } }
