.linetop {
    color: RGB(253 239 242);
    text-shadow: 0 0 10px RGB(253 102 195), 0 0 20px RGB(253 102 195), 0 0 40px RGB(198 80 153);
    transition: 2s ease;
}

.linetop:hover {
    color: #000000;
}

p::first-letter {
    color: $color ;
    font-size: 150%;
}


a {

    color: $color ;
    font-size: 34px;
    font-family: 'Cormorant Garamond', serif;
    transition: 1ms;
}

a:hover {

    color: #f90286;
}


/*titulos*/

h1,
h2,
h3,
h4,
h5 {
    text-align: center;
    margin: revert;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    text-shadow: RGB(209 54 137);
}

h1 {
    font-size: 30px;
    padding: 5px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}


img {
    display: flex;
    object-fit: cover;
    width: 304px;
    border-radius: 6px;
}

.fa-solid,
.fas {
    color: #000000;

}

/*carrusel*/
.carousel-control-next {
    right: 0%;
    top: 10%;
    z-index: 0;
}

.carousel-control-prev {
    left: 0%;
    top: 10%;
    z-index: 0;
}

.carousel-indicators {
    z-index: 0;
}

.line {
    color: RGB(253 239 242);
    text-shadow: 0 0 10px RGB(253 102 195), 0 0 20px RGB(253 102 195), 0 0 40px RGB(198 80 153);
    background: RGB(0, 0, 0);
}

i {
    color: RGB(253 239 242);
}

p {
    font-size: 30px;
    font-family: 'Trispace', sans-serif;
}

.card{
    width: 18rem;
    margin: 12px;
  
}
.btn {
    height: 34px;
    width: 91px;
    margin: 10px;
    color: #c781d3;
    background: #cde2f7;
    border-bottom-color: aqua;
    border: aqua;
    border: radius 10px;
    transition: .2s ease-in-out;
}

.btn:hover {
  background-color: $color;
}

.d-btn {
    display: flex;
    justify-content: center;
}

.items {
    display: flex;
    flex-wrap: wrap;
    object-fit: contain;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 39px;
    margin-left: 48px;
    width: 448px;
    overflow: hidden;
    background-color: RGB(255 248 248);
    gap: 12px;
    box-shadow: 6px 14px 20px 7px #cde2f7;
    border-radius: 10px;

}
.row{
    justify-content: center;
   
}
.card-img, .card-img-top{
    margin-top:12px;

}

.card-text{
    align-content: center;
    font-size: 15px;
}
body {
    margin: 4px;
    background-color: #fefefe;
}
